.header {
    &__container {
        display: flex;
        background-color: white;
        gap: $space-sm;
        padding: $space-sm;
    }

    &__actions {
        display: flex;
        margin-left: auto;
        align-items: center;
        gap: $space-sm;
    }

    &__actions {
        .header__divider {
            margin: 0 $space-xs;
        }
    }

    &__brand {
        display: flex;
        align-items: center;
        gap: $space-md;
    }

    &__icon-button img {
        display: block;
    }

    &__divider {
        width: $header-divider-w;
        height: $header-divier-h;
        background-color: $color-divider;
    }
}