/* Colors */
$color-bg: #F8F8F8;
$color-text: #1B1C21;
$color-accent: #41F6D7;
$color-white: #ffffff;
$color-divider: #EAEAEA;
$menu-text-color: #7E7E82;
$swiper-bullet-bg: #DDDDDD;
/* Spacing system */
$main-space-xs: 6px;
$main-space-md: 24px;
$space-lg: 32px;
$space-xs: 4px;
$space-sm: 16px;
$space-md: 20px;
$header-divider-w: 2px;
$header-divier-h: 32px;
$menu-space-xs: 8px;
/* Typography */
$font-size-small: 14px;
$font-size-large: 28px;
$font-size-md: 16px;
/* Radius */
$radius-pill: 990px;
$radius-sm: 6px;
$swiper-pagination-bullet: 12px;
/* Icon sizes */
$icon-sm: 14px;